//variables
$negro: #000000;
$blanco: #fff;
$blanco1: #fff7f7;
$naranja: #CE7D35;
$negro1: #333333;
$negro2: #262626;
$gris: #585858;
$gris1: #595959;
$rojo:  #f11d0e;



















.body{
	background-color: $negro;
}
.tituInicalMinimal{
	color: $blanco;
}
.menu >li > a{
	color: $blanco1
}
.menu li a:hover{
	color: $naranja
}
.navegacion{
color: $naranja
}
.submenu li a{
	color: $blanco;
	background: $negro1;
}
.bannerTitle{
	color: $blanco;
}
.section1{
	color:$blanco;
}
#footer{
	color: $blanco;
}
#footer {
	color: $negro2;
}
#footer a{
	color: $blanco;
}
#footer a:hover{
	color:$gris
}
.footerb {
	background-color: $gris1;
}