//variables
$fuenteA:'Montserrat', sans-serif;
$fuenteB:'Source Sans 3', sans-serif;
$fuenteC:'italic', sans-serif;
$fuenteC: 'Open sans' , sans-serif;


body{
    font-family: $fuenteA;
}
.titInicialMinimal{
	font-style: italic;
}
.submenu li a{
    font-family: $fuenteC;
}

.textoUtedes{
    font-family: $fuenteA;
}

















